<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }} | {{ site.title }}</title>

    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords }}">

    <meta name="viewport" content="width=device-width">

    <!-- syntax highlighting CSS -->
    {% stylesheet syntax %}

    <!-- Custom CSS -->
    {% stylesheet main %}

    <link href=''>

  </head>
  <body>

    <div class="site w">
      